// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,900&subset=latin-ext');
$lato : 'Lato', arial, sans-serif;


// Colors
$head : #fdfdfd;
$black : #222;
$white: #fff;

$link: #07c7cc;

$dark-link: #046169;
$grey: #ccc;
$light: #eee;

$ghost-white: rgba(255, 255, 255, 0.5);
$ghost-black: rgba(0, 0, 0, 0.5);
$ghost-link: rgba(7, 199, 204, 0.2);